* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:Overpass;
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h2 {
  color: white;
}
#main-box {
  background: linear-gradient(#2d2a35, #29262f, #1f1e25);
  
  
  border-radius: 8%;
  padding: 1.6em;
  display: block;
}

.circles {
  background-color: hsl(240, 6%, 21%);
  color: hsl(217, 12%, 63%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
#ratings {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#submit-button {
  border-radius: 25px;
  display:flex;
  color: hsl(240, 4%, 20%);
  align-items: center;
  justify-content: center;
  background-color: hsl(25, 97%, 53%);
  height: 50px;
  width: 100%;
  
}
#submit-button:hover {
  background: white;
  cursor: pointer;
}
.rbutton:hover {
  background: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  cursor: pointer;
}
.rbutton.selected {
  background: white;
  color: hsl(216, 12%, 8%);
}
button {
  border: 0px;
  font-size: 15px;
}
#thank-you-box {
  background: linear-gradient(#2d2a35, #29262f, #1f1e25);
  
  border-radius: 8%;
  padding: 1.6em;
  align-items: center;
  text-align: center;
  display: none;
}
#rating-text {
  margin: 0 auto;
  display: block;
  background-color: hsl(240, 6%, 21%);
  color: hsl(25, 97%, 53%);
  height: 26px;
  width: 175px;
  border-radius: 13px;
  
}
#error-div {
  position: absolute;
  display: none;
  padding: 0px;
  border-radius: 20px;
  background-image: linear-gradient(#2d2a35, #29262f, #1f1e25);
  text-align: center;  
  justify-items: center;
  z-index: 10;

}
#backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: hsla(0, 0%, 15%, 0.856);
  display: none;
  
}
#error-ok-button {
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 4%;
  width: 100px;
  height:40px;
  border-radius: 20px;
  
}
#error-ok-button:hover {
  background-color: white;
  cursor: pointer;
}
#error-head {
  width: 100%;
  padding: 2% 7%;
  text-align: left;
  font-size: 1.5em;
  font-weight: 700;
  color:white;
  background-image: linear-gradient( 90deg, hsl(240, 5%, 12%), hsl(240, 5%, 13%) );
  border-radius: 20px 20px 0 0;
}
#error-msg {
  padding: 4% 5%;
  display: block;
  

}
@media (orientation: portrait) and (max-width: 450px){
  #main-box {
    width: 95%;
  }
  #thank-you-box {
    width: 95%;
  }
}
@media (orientation: landscape) and (max-height: 450px){
  #main-box {
    height: 95vh;
    width: 95vh;
  }
  #thank-you-box {
    height: 95vh;
    width: 95vh;
  }
}
@media (orientation: portrait) and (min-height: 451px) {
  #main-box {
    width: 450px;
  }
  #thank-you-box {
    width: 450px;
  }
}
@media (orientation: landscape) and (min-height: 451px) {
  #main-box {
    width: 450px;
  }
  #thank-you-box {
    width: 450px;
  }
}
@media (orientation: landscape) and (max-height: 400px) {
  body {
    font-size: 13px;
  }
}